<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-col>
        <img src="../../assets/img/iconohead.png" alt="" class="logo">
      </ion-col>
      <ion-col>
        <a href="tel:118"><img src="../../assets/img/axelfoto.png" alt="" class="llamada"></a>
      </ion-col>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../assets/img/portada.png" alt="">
  <ion-grid>
    <ion-row>
      <img src="../../assets/img/axelfoto.png" alt="" style="width: 40%; margin: 0 auto; margin-top: -20%;">
    </ion-row>
    <br>
    <ion-row>
      <h6 style="margin: 0 auto; color: #245980;">Axell Humberto Ramos Fajardo</h6>
    </ion-row>

    <ion-row>
      <h6 style="margin: 0 auto">Universidad de Guadalajara</h6>
    </ion-row>

    <ion-row>
      <h6 style="margin: 0 auto">Egresado</h6>
    </ion-row>

    <br>

    <ion-row>
      <ion-card style="width: 100%;">      
        <ion-card-content style="background-color: #e9e9e9; width: 100%;">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. as aliquid beatae. Nisi natus eaque laborum porro minima consectetur voluptatem illo, magni neque sapiente omnis voluptates!</p>
        </ion-card-content>
      </ion-card>
    </ion-row>

    <br>

    <ion-row>
      <h6 style="margin: 0 auto">Certificación</h6>
    </ion-row>
    <br>
    <ion-row>
      <img src="../../assets/img/cert1.png" alt="">
    </ion-row>
    <br>
    <ion-row>
      <img src="../../assets/img/desarolloweb.png" alt="">
    </ion-row>
    <br>
    <ion-row>
      <img src="../../assets/img/certexcel.png" alt="">
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-button expand="block" fill="outline" style="margin: auto;" (click)='regresar()'><ion-icon name="chevron-back-outline"></ion-icon>Retornar</ion-button>
    </ion-row>
    <br>
  </ion-grid>
</ion-content>
