<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-col>
        <img src="../../assets/img/iconohead.png" alt="" class="logo">
      </ion-col>
      <ion-col>
        <a href="tel:118"><img src="../../assets/img/axelfoto.png" alt="" class="llamada"></a>
      </ion-col>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img src="../../assets/img/perfilesper.png" alt="">
  <ion-grid>
    <ion-row>
      <img src="../../assets/img/axelfoto.png" alt="" style="width: 30%; margin-bottom: -15%; z-index:1;">
      <ion-card style="border-radius: 20px; background-image: url('../../assets/img/portada.png'); width: 100%;background-size: 100%;z-index:0;" routerLink="" (click)="perfil()">
        <ion-card-content>
          <p style="color: white; text-align: center;">Axell Ramos</p>
          <p style="color: white; text-align: center;">Egresado</p>
        </ion-card-content>
      </ion-card>
    </ion-row>

    <ion-row>
      <img src="../../assets/img/int/frander.png" alt="" style="width: 30%; margin-bottom: -15%; z-index:1;">
      <ion-card style="border-radius: 20px; background-image: url('../../assets/img/portada.png'); width: 100%;background-size: 100%;z-index:0;" routerLink="" (click)="perfil()">
        <ion-card-content>
          <p style="color: white; text-align: center;">Frander Hernandez</p>
          <p style="color: white; text-align: center;">Estudiante</p>
        </ion-card-content>
      </ion-card>
    </ion-row>

    <ion-row>
      <img src="../../assets/img/int/michael.png" alt="" style="width: 30%; margin-bottom: -15%; z-index:1;">
      <ion-card style="border-radius: 20px; background-image: url('../../assets/img/portada.png'); width: 100%;background-size: 100%;z-index:0;" routerLink="" (click)="perfil()">
        <ion-card-content>
          <p style="color: white; text-align: center;">Michael</p>
          <p style="color: white; text-align: center;">Egresado</p>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
