<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <img src="../../assets/img/home1.png" alt="" class="img">
      <ion-label class="letra">Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <img src="../../assets/img/oferta.png" alt="" class="img">
      <ion-label class="letra">Oferta</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <img src="../../assets/img/cursos.png" alt="" class="cursos">
      <ion-label class="letra">Cursos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfilempleo">
      <img src="../../assets/img/perfiles.png" alt="" class="perfil">
      <ion-label class="letra">perfiles</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="sal()">
      <img src="../../assets/img/salir.png" alt="" class="salir">
      <ion-label class="letra">Salir</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
