.img{
    width: 55% !important;
}
.cursos{
    width: 60% !important;
}
.perfil{
    width: 44% !important;
}
.salir{
    width: 65% !important;
}
.letra{
    font-size: 0.8em !important;
    margin-top: 1% !important;
}