<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-col>
        <img src="../../assets/img/iconohead.png" alt="" class="logo">
      </ion-col>
      <ion-col>
        <a href="tel:118"><img src="../../assets/img/axelfoto.png" alt="" class="llamada"></a>
      </ion-col>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img src="../../assets/img/cursoscur.png" alt="">

  <ion-grid>
    <ion-row>
      <img src="../../assets/img/univerguadal.png" alt="" style="width: 30%; margin: 0 auto; margin-bottom: -15%; z-index:1;">
      <ion-card style="border-radius: 20px; background-image: url('../../assets/sliders/sliderHome/banner1.png'); width: 100%;background-size: 100%;z-index:0;" routerLink="" (click)="uni()">
        <ion-card-content>
          <br>
          <p style="color: white; text-align: center;">Universidad de Guadalajara</p>
        </ion-card-content>
      </ion-card>
    </ion-row>

    <ion-row>
      <img src="../../assets/img/uag.png" alt="" style="width: 30%; margin: 0 auto; margin-bottom: -15%; z-index:1;">
      <ion-card style="border-radius: 20px; background-image: url('../../assets/sliders/sliderHome/banner1.png'); width: 100%;background-size: 100%;z-index:0;" routerLink="" (click)="uniuno()">
        <ion-card-content>
          <br>
          <p style="color: white; text-align: center;">Universidad Autonoma de Guadalajara</p>
        </ion-card-content>
      </ion-card>
    </ion-row>

    <ion-row>
      <img src="../../assets/img/iteso.png" alt="" style="width: 30%; margin: 0 auto; margin-bottom: -15%; z-index:1;">
      <ion-card style="border-radius: 20px; background-image: url('../../assets/sliders/sliderHome/banner1.png'); width: 100%;background-size: 100%;z-index:0;" routerLink="" (click)="unidos()">
        <ion-card-content>
          <br>
          <p style="color: white; text-align: center;">Intituto Tecnológico  y de Estudios Superiores de Occidente</p>
        </ion-card-content>
      </ion-card>
    </ion-row>

  </ion-grid>

</ion-content>
